ul.session-list {
    list-style-type: none;
    padding: 0;
}
  
.session {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.5s;
}

.session a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.session .btn-danger {
    background-color: transparent;
    color: #888;
    border-color: #888;
    padding: 0.3em 0.5em;
    margin: 0 !important;
}
.session .btn-danger:hover {
    color: #fff;
    border-color: rgb(220, 53, 69);
    background-color: rbg(220, 53, 69);
}

.session:hover {
    background-color: #d0e0ff;
}

.session.selected {
    color: #fff;
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
    transition: background-color 1s;
}
.session.selected .btn-danger {
    border-color: #fff;
    color: #fff;
}