body {
  font-size: .875rem;
}



h2 {
  margin-top: 1em;
}

.fas {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0.1em 0 0.1em; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky-bottom {
  position: absolute;
  bottom: 1.5em;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  border-radius: 0.6em;
}

.sidebar .nav-link:hover {
  background: #ddd;
}
.sidebar.bg-dark .nav-link:hover {
  background: #555;
}

.sidebar .nav-link .fas {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #efefef;
  background-color: #2470dc;
}

.sidebar .nav-link:hover .fas,
.sidebar .nav-link.active .fas {
  color: inherit;
}

.sidebar-heading {
  margin-top: 1em;
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-heading .btn {
  border: none;
  padding: 0.3em;
  margin: 0;
  background: none;
}
.sidebar-heading .btn:hover {
  color: #000;
}

.sidebar.bg-dark .sidebar-heading .btn:hover {
  color: #fff;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-brand img {
  height: 1.5em;
  width: auto;
  padding: 0 0.1em 0 0;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* src/App.css */
.navbar-dark .navbar-brand {
  color: #ffffff;
}

.navbar-light .navbar-brand {
  color: #212529;
}

.sidebar.bg-dark {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

.sidebar.bg-light {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.sidebar .nav-link {
  color: inherit;
}

.sidebar .nav-link.active {
  font-weight: bold;
}